@use "./index.scss";

$height: 5vh;
$width: 20vw;

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

@mixin inset-box {
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px black;
  background-color: darken($color: index.$backgroundColor, $amount: 5);
  overflow: scroll;
}

.button-container {
  @include inset-box;
  display: grid;
  width: 95vw;
  max-width: 1000px;
  grid-template-columns: repeat(auto-fit, 13vh);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.title {
  position: sticky;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 2px black;
  margin: 2vh 0;
}

@mixin rect {
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  font-family: index.$font;
  font-weight: 300;
  padding: 10px 5px;
}

@mixin button {
  border: none;
  box-shadow: 0 0 5px
    adjust-color($color: index.$backgroundColor, $lightness: -10%);
  background-color: index.$lighterBackground;
}

.ui-button {
  @include button;
  @include rect;
  color: white;
  cursor: pointer;
  transition: 0.2s linear background-color;

  &:hover {
    background-color: darken($color: index.$lighterBackground, $amount: 5);
  }
}
