@use "./index.scss";

$time: 0.2s;
$dist: 5px;

.button {
  position: relative;
  border: 0;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  left: 0;
  top: 0;
  transition: box-shadow $time linear, left $time linear, top $time linear;
  box-shadow: $dist $dist black;

  font-family: index.$font;
  font-weight: 300;

  &--clicked {
    box-shadow: none;
    left: $dist;
    top: $dist;
  }
}
