$backgroundColor: #033f63;
$lighterBackground: adjust-color(
  $color: $backgroundColor,
  $lightness: 10%,
);
$font: "Overpass", sans-serif;

body {
  margin: 0;
  background-color: $backgroundColor;
  font-family: $font;
}
