@use "./app.scss";
@use "./index.scss";

.custom-button-input {
  @include app.rect;
}

.stored-button-container {
  width: 95vw;
  max-width: 1000px;
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.scrollable {
  overflow: auto;
}
